/* ==========================================================================
   scrolly / component
   ========================================================================== */

.has-js {
    [data-scrolly='fromAlpha'] {
        opacity: 0;
        transition: all 0.4s $ease-out-quad;

        &.is-active {
            opacity: 1;
        }
    }
    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.4s $ease-out-quad;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }
    [data-scrolly='fromTop'] {
        opacity: 0;
        transform: translateY(-60px);
        transition: all 0.4s $ease-out-quad;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-60px);
        transition: all 0.4s $ease-out-quad;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: translateX(60px);
        transition: all 0.4s $ease-out-quad;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
